.about-us {
    margin: 40px auto;
    max-width: 800px;
    text-align: center;
}

.about-us h2 {
    color: #00bfff;
    font-size: 40px;
}

.about-us p {
    font-size: 22px;
    line-height: 1.6;
    margin: 15px 0;
    color: darkgray;
    
}